.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.header{
  color: white;
  box-sizing: border-box;
  border-bottom: 12px solid MediumSpringGreen;
  border-top: 12px solid MediumSpringGreen;
  border-left: 8px solid MediumSpringGreen;
  border-right: 8px solid MediumSpringGreen;
  background: ForestGreen;
  font-style: italic;
  text-align: center;
  width:780px;
}

.flex-item, .flex-item-double {
  box-sizing: border-box;
  background: ForestGreen;
  padding: 5px;
  width: 260px;
  height: 260px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border:2px solid rgba(100, 100, 100, 0.5);
}

.flex-container li:first-child{
	border-left: 8px solid MediumSpringGreen;
}
.flex-container li:last-child{
	border-right: 8px solid MediumSpringGreen;
}

.flex-item-double {
	width: 520px;
	min-width: 520px;
	text-align:center;
}

.flex-container img{
	width:80%;
	border: 12px solid yellow;
}
.flex-container img:hover{
	border: 12px solid red;
}

.flex-container p {
	font-size: 0.19em;
	text-align:left;
	color:yellow;
}

.flex-container table{
	box-sizing: border-box;
	font-size: 0.4em;
	background:white;
	color:black;
	width:60%;
	margin-left:20%;
	font-style: italic;
}	

.flex-container td{
	border:1px solid black;
}

.flex-item-double p {
	width: 520px;
	min-width: 520px;
	text-align:center;
}

@media only screen and (min-width:1200px){
	.header{
		width:90%;
	}
	.flex-container p {
		font-size: 0.30em;
		text-align:left;
		color:yellow;
	}
	.flex-container li:first-child{
		border-left: 8px solid MediumSpringGreen;
	}
	.flex-container li:last-child{
		border-right: 8px solid MediumSpringGreen;
	}
	.flex-item{
		width: 30%;
		height:450px;
	}
	.flex-item-double{
		text-align: center;
		width:60%;
		height:450px;
	}
	.flex-container img{
		border: 20px solid yellow;
	}
	.flex-container img:hover{
		border: 20px solid red;
	}
}

@media only screen and (max-width:768px){
    .flex-container p {
		font-size: 0.21em;
	}
	.flex-container img{
		border: 8px solid yellow;
	}
	.flex-container img:hover{
		border: 8px solid red;
	}
}

@media only screen and (max-width:810px) and (min-width:551px){
	.flex-container{
		min-width:800px;
	}
}

@media only screen and (max-width:550px){
	.header{
		border-bottom: 8px solid MediumSpringGreen;
		border-top: 8px solid MediumSpringGreen;
		border-left: 4px solid MediumSpringGreen;
		border-right: 4px solid MediumSpringGreen;
		width:260px;
	}
    .flex-container p {
		font-size: 0.19em;
	}
	.flex-container img{
		border: 6px solid yellow;
	}
	.flex-container img:hover{
		border: 6px solid red;
	}
	.flex-container li:first-child{
		border:none;
	}
	.flex-container li:last-child{
		border:none;
	}
}







