html, body{
	min-width: 640px;
	min-height: 800px;
	background-image: url('images/gray-leather-background.jpg');
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item{
	box-sizing: border-box;
	margin: 25px 25px 0px;
	width:150px;
	border:10px solid white;
}

.flex-item:hover{
	border:5px solid white;
}

#blackScreen{
	min-width:2000px;
	min-height:1500px;
	width:1000px;
	height:800px;
	background-color:rgba(0, 0, 0, 0.5);	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:-10
}

#enlarge{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition:opacity 0.9s ease-in-out;
	z-index:-10;
	border:5px solid white;
	text-align:center;
	background-color:white;
}

#enlarge img{
	border:1px solid black;
	-moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}

#reloadFotos{
	position: fixed;
	width:1024px;
	height:1024px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:10;
}

#wrapper{
	min-width:1920px;
}

