@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: RobotoRegular;
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.44);
	max-width:1720px;
	margin:auto;
}

table {
	margin-top:30px;
    float: left;
    border: 1px;
    width: 800px;
    border-color: #000000;
    border-style: solid;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    text-align: right;
}

#mainTable{
	width:100%;
	max-width:1720px;
}


#winnerTable {
    width: 600px;
    font-size: 12px;
}

#disclamerTab{
	position: fixed;
	top:0;
	left:0;
	height:100px;
	background-color:rgba(0,0,0,0.5);
	border-bottom:1px solid white;
}

#disclamerTabtext{
	text-align:center;
	margin-top:50px;
	font-size:20px;
	color:#fff;
}

#loserTable {
    float: right;
    width: 600px;
    font-size: 12px;
}

tr {
    margin-top: 20px;
    margin-bottom: 5px;
}

.header {
    background-color: black;
    color: white;
}

.winner {
	transition: background-color 0.5s ease;
    background-color: rgb(20, 255, 20);
}

.loser {
	transition: background-color 0.5s ease;
    background-color: rgb(255, 20, 20);
}
