
body{
    margin: 0 auto;
    background: black;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#gallery{
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#gallery .imgContainer{
    margin: 1%;
    float: left;
    transition: width 0.8s;
}

#gallery .imgContainer span{
    color: White;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 5, 0, 0.5);
    margin-top: 2%;
    padding: 0% 5% 2% 5%;
}

#gallery .imgContainer img{
	box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: solid 4px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 15px rgb(150, 190, 230);
    -webkit-box-shadow: 0px 0px 15px rgb(150, 190, 230);
    box-shadow: 0px 0px 15px rgb(150, 190, 230);
}

#gallery .imgContainer img:hover{
    border: solid 2px rgba(255, 255, 255, 0.9);
}
